{% extends 'base.html' %}

{% block content%}
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>We value your feedback</h1>
                <p class="lead">Login or SignUp below to submit your comment</p>

                <a class="btn btn-md btn-success" href="accounts/login" style="text-decoration: none;visited : white;">Login</a>
                <a class="btn btn-md btn-success" href="accounts/register" style="text-decoration: none;visited : white;"">Sign Up</a>
                <ul class="list-unstyled">
                    <li>Bootstrap v3.3.7</li>
                    <li>jQuery v1.11.1</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}