{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}


<div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>We value your feedback</h1>
                		{% if form.errors %}
		<p>Your username and password didn't match. Please try again.</
		p>
		{% else %}
		<p>Log in to submit your comment</p>
		{% endif %}
		<div class="">
		<form action="{% url 'login' %}" method="post">
		{{ form.as_p }}
		{% csrf_token %}		
		<p><input type="submit" value="Log-in"></p>
		</form>	
		</div>
                
            </div>
        </div>
        <!-- /.row -->

    </div>
{% endblock %}
